---

---

<div id="about">
    <h1>Sobre mim</h1>
    Sou Técnico em informática formado pela instituição Senac Londrina, e estou cursando Engenharia de Software no Centro Universitário Filadelfia. Na minha formação como técnico, adquiri conhecimentos sólidos em: Manutenção de computadores, criação de redes e servidores, banco de dados, programação Web Fullstack e programação para Desktop. Tenho o desejo de me aprofundar no mundo do Backend, utilizando a linguagem Java, com o framework Spring.
</div>

<style>
    div {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div h1 {
        text-align: center;
    }

    div {
        text-align: justify;
    }
</style>