---

---

<div>
    <slot></slot>
</div>

<style>
    div {
       display: flex;
       justify-content: center;
       background-color: #8c44d1;
       width: fit-content;
       padding: 15px;
       border-radius: 10px;
       gap: 10px;
       font-size: 10px;
    }
</style>