---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nam voluptas labore accusamus laboriosam possimus repellendus, ut aliquam maiores quas ratione tempore soluta mollitia officiis quis commodi nostrum sapiente! Sapiente?</h1>
</div>