---
    import Link from "./Link.astro"
---

<div>
    <h1>Olá! Eu me chamo Fernando.</h1>
    <p>Sou técnico em informática, e estudante de programação Back-End / Fullstack</p>
    <Link target="CURRICULUM-V4.pdf">Meu currículo</Link>
    <nav>
        <p>linkedin</p>
        <p>github</p>
    </nav>
</div>

<style>
    div {
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-self: center;
    }

    div nav {
        display: flex;
        justify-content: space-around;
    }

    
</style>
