---
    import Card from "../components/Card.astro"
    import ProjectInformation from "../components/ProjectInformation.astro"
---

<main>
    <div style="text-align: center;">
        <h1>Fernando Bersellini Teixeira</h1>
        <h2>Técnico em informática</h2>
        <h2>Graduando em Engenharia de Software</h2>
    </div>
    <div class="contentWrapper">
        <Card>
            <h1>Sobre mim</h1>
            <p>Atualmente tenho 21 anos, e sou formado como técnico em informática pela a instituição Senac Londrina. Além disso, estou cursando Engenharia de Software no <b>Centro Universitário Filadelfia.</b></p>
    
            <p>Na minha formação técnica, adquiri conhecimentos em manutenção de Hardware, criação de redes de computadores, banco de dados e programação Fullstack.</p>
    
            <p>Minhas tecnologias que tenho mais conhecimento atualmente são, Java em conjunto com o Framework Spring, Javascript com o framework Astro e MySql como banco de dados.</p>
        
            <p>Tenho como foco me aprofundar no mundo Backend, e busco aprimorar minhas habilidades e conhecimentos, afim de criar sistemas de qualidade. </p>
        </Card>
    
        <Card>
            <h1>Meus projetos</h1>
            <ProjectInformation>
                <img width="100px" height="100px" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg"/>
                <div class="about">
                    <h1>DietInfo</h1>
                    <p>API Rest com funcionalidades CRUD utilizando o Framework Spring.</p>
                    <a href="https://github.com/FernandoBersellini/DietInfo">Link do repositório</a>
                </div>
            </ProjectInformation>
        </Card>
    </div>
</main>

<style>
    .contentWrapper {
        display: flex;
        flex-direction: column;
        gap: 50px
    }

    .about {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .about h1 {
        margin-bottom: 0px;
    }
</style>