---
---

<div>
    <slot/>
</div>

<style>
    div {
        display: flex;
        justify-content: space-around;
        width: 80%;
    }

    .about {
        display: flex;
        flex-direction: ;
    } 
    
</style>